.header-container{
    height: 100%;
    background-image: url("./images/banner/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-position: center top;
}


.nav{
    
    padding-top: 20px;
    display: flex; 
    justify-content: space-between; 
    gap: 20px;
    color: var(--font-primary-color);
    font-size: 36px;
    }

#right-menu-icon-id{
    width: 175px;
    text-align: right;
}

.banner-tittle h1
{
    font-size: 110px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
    margin: 40px 0;
}

.banner-description
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 40px 0;
}

.banner-profile-container
{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-primary-color) ;
    border-bottom: 1px solid var(--font-primary-color) ;
}

.banner-profile-description
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 40px;
}

.Work-icon-container
{
    display: flex;
    gap: 14px;
    padding: 40px 0px;
}


.check-icon
{
    width: 60px;
    height: 60px;
    
}

.banner-image-container
{
    background-color: var(--font-primary-color);
    width: fit-content;
}

#banner-image
{ 
  height: 300px;
}

.complete-project-card h1
{
    font-size: 152px;
    text-transform: uppercase;
}
.complete-project-card p
{
    font-size: 40px;
    text-transform: uppercase;
}

.complete-project-container
{
   display: flex; 
   justify-content: space-between;
}

/*--this is media quary*/

@media only screen and (min-width:200px) and (max-width:576px)
{
    .container
{
  padding: 0px 5px;
}
    .nav
    {
       font-size: 16px;
    }

    .complete-project-container
    {
    flex-direction: column;
    }
    .banner-profile-container
  {
      display: flex;
      flex-direction: column;
  }
  .banner-image-container
{
    width: 100%;
}
#banner-image
{ 
  width: 100%;
}


    .banner-tittle h1
   {
    font-size: 25px;
  }
  
}

